#Problem - 00

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.


Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
### Using a function with for
def select(x):
    return x % 3 == 0 or x % 5 == 0
LIMIT = 1000
total = 0
for n in range(LIMIT):
    if select(n):
        total += n
print(total)

In [ ]:
### Using filter with lambda
LIMIT = 1000
sum(filter(lambda x: x % 3 == 0 or x % 5 == 0, range(LIMIT)))

In [ ]:
### Using filter with function
def select(x):
    return x % 3 == 0 or x % 5 == 0
LIMIT = 1000
print(sum(filter(select, range(LIMIT))))

In [ ]:
### Using list comprehensions
LIMIT = 1000
sum([x for x in range(LIMIT) if x % 3 == 0 or x % 5 == 0])

In [ ]:
### Using just ranges
LIMIT = 1000
sum(range(3, LIMIT, 3)) + sum(range(5, LIMIT, 5)) - sum(range(15, LIMIT, 15))

In [ ]:
### Using sets
LIMIT = 1000
sum(set(range(3, LIMIT, 3)) | set(range(5, LIMIT, 5)))

#Problem - 01

Write a python function to find all of the numbers from 1–1000 that are divisible by 7.

In [ ]:
def divisible_by_7(limit: int)-> int:
    return [num for num in range(1, limit + 1) if num % 7 == 0]

print(divisible_by_7(1000))

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

## Problem-02

Write a program that prints the numbers below a given LIMIT. If it's a multiple of 3, it should print "Fizz". If it's a multiple of 5, it should print "Buzz". If it's a multiple of 3 and 5, it should print "Fizz Buzz". If it's not multiple of 3 or 5 it should print the number itself.

Sample Input

15

Sample Output

['1', '2', 'FIZZ', '4', 'BUZZ', 'FIZZ', '7', '8', 'FIZZ', 'BUZZ', '11', 'FIZZ', '13', '14']

In [ ]:
def pick(n):
    return 2 * int(n % 5 == 0) + 1 * int(n % 3 == 0)
    
def fb(n):
    return [str(n), "FIZZ", "BUZZ", "FIZZBUZZ"][pick(n)]

fbs = [fb(x) for x in range(1, 16)]

print(fbs)

['1', '2', 'FIZZ', '4', 'BUZZ', 'FIZZ', '7', '8', 'FIZZ', 'BUZZ', '11', 'FIZZ', '13', '14']

In [4]:
int(False)

0

In [3]:
[1, 2, 3, 4][4]

IndexError: ignored

#Problem - 03

Write a python function to find all of the numbers from 1–1000 that have a 8 in them.

In [ ]:
def having_8_in_seq(limit: int)-> int:
    return [num for num in range(1, limit + 1) if "8" in str(num)]

print(having_8_in_seq(1000))

[8, 18, 28, 38, 48, 58, 68, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 98, 108, 118, 128, 138, 148, 158, 168, 178, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 198, 208, 218, 228, 238, 248, 258, 268, 278, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 298, 308, 318, 328, 338, 348, 358, 368, 378, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 398, 408, 418, 428, 438, 448, 458, 468, 478, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 498, 508, 518, 528, 538, 548, 558, 568, 578, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 598, 608, 618, 628, 638, 648, 658, 668, 678, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 698, 708, 718, 728, 738, 748, 758, 768, 778, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 798, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 908, 918, 928, 938, 948, 958, 968, 978, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 998]

#Problem - 04

Write a python function to find the count the number of spaces in a string.

In [ ]:
def count_of_spaces(string: str)-> int:
    return len([char for char in string if char == ' '])

count_of_spaces("welcome to tech-wise program")

3

#Problem - 05

Write a python function to remove all of the vowels in a string.

In [ ]:
def remove_all_vowels(text: str)-> str:
    return "".join([char for char in text if char not in "aeiouAEIOU"])

remove_all_vowels("welcome to tech-wise program")

'wlcm t tch-ws prgrm'

#Problem - 06

Write a python function to find all of the words in a string that are less than 6 letters

In [ ]:
def find_words(sentence: str)-> str:
    words = sentence.split()
    return [word for word in words if len(word) < 6]

find_words("List comprehensions are great because they are easier to comprehend.")

['List', 'are', 'great', 'they', 'are', 'to']

#Problem - 07

Write a python function to multiply two list items.

Example:

multiply_list_items([10, 20, 30], [1, 2, 3]) => [10, 20, 30, 20, 40, 60, 30, 60, 90]

In [ ]:
def multiply_list_items(num_list1: [int], num_list2: [int])-> [int]:
    return [x * y for x in num_list1 for y in num_list2]

multiply_list_items([10, 20, 30], [1, 2, 3])

[10, 20, 30, 20, 40, 60, 30, 60, 90]

#Problem - 08

#TRANSPOSE OF A MATRIX

###Transpose of a Matrix Definition 
The transpose of a matrix A, denoted by A^T, may be constructed by any one of the following methods:

Reflect A over its main diagonal (which runs from top-left to bottom-right) to obtain A^T

Write the rows of A as the columns of A^T

Write the columns of A as the rows of A^T



If A is an m × n matrix, then A^T is an n × m matrix.

In the case of square matrices, AT may also denote the Tth power of the matrix A. For avoiding a possible confusion, many authors use left upperscripts, that is, they denote the transpose as TA. An advantage of this notation is that no parentheses are needed when exponents are involved: as (TA)n = T(An), notation TAn is not ambiguous.

Write a python function to transpose a matrix.

** Example: **

transpose([[1, 2, 3, 4], [4, 5, 6, 8]]) => [[1, 4], [2, 5], [3, 6], [4, 8]]

In [ ]:
def transpose(matrix: [[int],[int]]):
    return [[row[i] for row in matrix] for i in range(len(matrix[0]))]

transpose([[1, 2, 3, 4], [4, 5, 6, 8]])

[[1, 4], [2, 5], [3, 6], [4, 8]]

In [ ]:
def transpose1(matrix: [[int],[int]]):
    return [[m1, m2] for m1, m2 in zip(matrix[0], matrix[1])]

transpose1([[1, 2, 3, 4], [4, 5, 6, 8]])

[[1, 4], [2, 5], [3, 6], [4, 8]]

* Ask students to refer https://en.wikipedia.org/wiki/Transpose

#Problem - 9

Implement a function to repeat the sequence as per the given order.

**Example**
 - repeat_sequence('ab') => A->Bb
 - repeat_sequence('UVWX') => U->Vv->Www->Xxxx

In [ ]:
ARROW = "->"

def repeat_sequence(s: str)-> str:
  return ARROW.join([item.upper() + item.lower() * s.index(item) for item in list(s)])

print(repeat_sequence('ab'))
print(repeat_sequence('UVWX'))

A->Bb
U->Vv->Www->Xxxx

In [ ]:
def repeat_sequence(s: str)-> str:
  return  "->". join([(ch * i).capitalize() for i, ch in enumerate(s, start = 1)])

print(repeat_sequence('ab'))
print(repeat_sequence('UVWX'))

A->Bb
U->Vv->Www->Xxxx

#Problem - 10

Write a python function to convert roman to arabic.

**Example:**

roman2arabic("XIX") => 19

roman2arabic("MMXXII") => 2022

In [ ]:
def format_roman(roman: str)-> str:
    return roman.upper().replace("IV", "IIII").replace("IX", "VIIII").replace("XL", "XXXX").replace("XC", "LXXXX").replace("CD", "CCCC").replace("CM", "DCCCC")

def roman2arabic(roman: str)-> int:
    arabic = {'M': 1000, 'D': 500, 'C': 100, 'L': 50, 'X': 10, 'V': 5, 'I': 1}
    return sum([arabic[i] for i in format_roman(roman)])

print(roman2arabic("XIX"))
print(roman2arabic("MMXXII"))

19
2022

Problem Statement 03
Primitive Pythagorean Triples

A Pythagorean triple is a set of three integer numbers that form a right triangle. The sum of the squares of the two smaller numbers should equal the square of the largest number. Given three numbers a, b and c (c being the largest):

a^2 + b^2 = c^2

Furthermore, a Pythagorean triple is said to be primitive if the three numbers are pairwise coprime - that is, the greatest common prime factor between any two numbers is 1.

Create a function that takes a list of three numbers (unordered) and returns True if the numbers constitute a primitive Pythagorean triple, False otherwise.

Examples

is_prim_pyth_triple([4, 5, 3]) ➞ True

is_prim_pyth_triple([7, 12, 13]) ➞ False

is_prim_pyth_triple([39, 15, 36]) ➞ False

Pythagorean triple, but not primitive.


is_prim_pyth_triple([77, 36, 85]) ➞ True

In [ ]:
def gcd(a, b):
	return b if a % b == 0 else gcd(b, a % b)

def is_prim_pyth_triple(lst):
	a, b, c = sorted(lst)
	return (a * a + b * b == c * c) and gcd(a, b) == 1

In [ ]:
import math

def is_prim_pyth_triple(lst):
	a, b, c = sorted(lst)
	return (a * a + b * b == c * c) and math.gcd(a, b) == 1

In [ ]:
is_prim_pyth_triple([4, 5, 3])