#Session 12

* First class functions
* Higher order functions
* **map**, **filter**
* list comprehensions
* Assignments:
     - Fizbuzz Problem
     - Euler-2 Problem

##First class Function

* A function in Python is First Class Function, if it supports all of the properties of a First Class object.
* Discuss the properties of first order function.

In [ ]:
def calculate(p: int, q: int)->int:
 s = 0;
 for i in range(p, q + 1):
   if i % 2 == 0:
     s += i
 return s
 
calculate(10, 30)

220

In [ ]:
add_even = calculate
add_even(10, 30)

220

* Disscuss that Python can be used as an object.

In [ ]:
def square(x: int)-> int:
   return x*x

def square_serise(method, argument_list: [int])-> [int]:
   result = list()
   for item in argument_list:
      result.append(method(item))
   return result

square_serise(square, [1, 2, 3, 4, 5, 6, 7, 8])

[1, 4, 9, 16, 25, 36, 49, 64]

* Discuss square_serise(), where we can pass a function as an argument.

In [ ]:
def calculate(x):
    def total(y):
      return x+y
    z = 20
    return total
  
add_15 = calculate(15)
  
print (add_15(10))

25

* Discuss line 5, where one function can be returned from another function.

#TYPE OF ARGUMENTS

##Required Arguments

###Implement a function which calculate the sum of digits of a number.

In [ ]:
def sum_of_digits(num):
 total = 0
 while num > 0:
   total += num % 10
   num //= 10
 return total

sum_of_digits(1234)

10

## Default Arguments

Implement a function to calculate the gross salary of an employee for the month of March. He is expecting 10% of HRA and 12% of TA on his basic salary. This month every employee will receive a $500 as a bonus.

In [ ]:
def calculate_gross(basic_salary: int, bonus = 500)-> float:
  ta = basic_salary * 0.1
  da = basic_salary * 0.12
  return basic_salary + ta + da + bonus

calculate_gross(3000)

4160.0

* here bonous is the default argument

##Variable-length Arguments (*args)

Calculate the sum of given numbers.

In [ ]:
def calculate_sum(*nums):
  total = 0
  #print(type(nums))
  for item in nums:
    total += item
  return total

print(calculate_sum(12, 10, 14, 56, 90))
print(calculate_sum(10, 20, 30))
print(calculate_sum(1, 2, 3, 4, 5, 6, 7, 8, 9))

182
60
45

* By using the variable-length arguments, we can pass any number of arguments.
* Uncomment the line 3, to show the student the type of (*nums).

#Keyword arguments(**kwargs)

In [ ]:
def capitals(**kwargs):  
    return kwargs 
    #print(type(kwargs))

capitals(India= "New Delhi", China= "Beijing", Bangladesh= "Dhaka", England= "London")

{'Bangladesh': 'Dhaka',
 'China': 'Beijing',
 'England': 'London',
 'India': 'New Delhi'}

#Higher Order Functions

##Euler Problem - 1

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
#Method-1
def Euler_1(limit):
  return sum(filter(lambda x: x % 3 == 0 or x % 5 == 0, range(LIMIT)))

Euler_1(1000)

233168

In [ ]:
#Method-2
def select(x):
    return x % 3 == 0 or x % 5 == 0

def Euler_01(limit):
  return sum(filter(select, range(LIMIT)))

Euler_01(1000)

233168

* Discuss the use of lambda, filter with small examples as given below.

In [ ]:
y = lambda x: x+10
y(20)

30

In [ ]:
multiply = lambda a, b, c: a * b * c
multiply(20, 3, 4)

240

In [ ]:
def isEven(x: int)-> bool:
  return x % 2 == 0

def even_sum(lst:[int])->[int]:
  return sum(filter(isEven, lst))

even_sum([5, 7, 4, 2, 3, 8])

14

# Example for Map()

####Implement a function to calculate square of numbers range 10 to 20.

In [ ]:
def square(x):
  return x * x

def calculate_square(a: [int])-> [int]:
  return list(map(square,a))

calculate_square([10,20,30,40,50,60])

[100, 400, 900, 1600, 2500, 3600]

#List Comprehension

###Problem 1

Implement a function to repeat the sequence as per the given order.

**Example**
 - repeatSequence('ab') => A->Bb
 - repeatSequence('UVWX') => U->Vv->Www->Xxxx

In [ ]:
def repeatSequence(s: str)-> str:
  return "->".join([item.upper() + item.lower() * s.index(item) for item in list(s)])

print(repeatSequence('ab'))
print(repeatSequence('UVWX'))

A->Bb
U->Vv->Www->Xxxx

In [ ]:
def repeatSequence(s: str)-> str:
  return  "->". join([(ch * i).capitalize() for i, ch in enumerate(s, start = 1)])

print(repeatSequence('ab'))
print(repeatSequence('UVWX'))

A->Bb
U->Vv->Www->Xxxx

##Problem - 2

Write a function that transforms the input string as follows:

  1. changes all vowels to lower case
  2. changes all consonants to upper case

The function should return the transformed string

In [ ]:
def convertCase(string: str)->str:
    return (''.join(letter.lower() if letter in 'aeiouAEIOU' else letter.upper() for letter in string))

convertCase("Hello Everyone to this auspecious occasion")

'HeLLo eVeRYoNe To THiS auSPeCiouS oCCaSioN'

##Problem - 3

Generate the Amstrong numbers between two given numbers.

In [ ]:
def is_armstrong(n: int)->bool:
  return sum([int(i) ** len(str(n)) for i in str(n)]) == n

In [ ]:
def makeArmstrong(start: int, limit: int):
  return filter(is_armstrong, range(start, limit))

In [ ]:
list(makeArmstrong(100, 1000))

[153, 370, 371, 407]

#Assignments

##Assignment - 12-01

###FizzBuzz Problem


Write a function that prints the numbers in the given range but for multiples of **3** print **Fizz** and for multiples of **5** print **Buzz** and for multipes of **3 and 5** print **FizzBuzz**

In [ ]:
def fizzBuzz(k: int):
  #write your code here
  return

##Assignment - 12-02

###Euler Problem - 2

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [ ]:
def sumEvenFibonacci(k: int)->int:
  #write your code here
  return