# TalentSprint

## Objectives

At the end of the experiment you will be able to

* understand Decision Tree algorithm
* apply Decision tree on any dataset to learn insights from the dataset

## Dataset

The dataset choosen for this experiment is hotel booking dataset. The dataset contains 43917 samples and 32 columns. The target variable in the dataset is **is_canceled**

### Exercise 1

Importing necessary libraries

In [2]:
# YOUR CODE HERE
import pandas as pd

### Exercise 2

Load the dataset

In [3]:
# YOUR CODE HERE
data = pd.read_csv('/home/chandrakumar/511638_944030_compressed_hotel_bookings.csv/hotel_bookings.csv')
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

### Exercise 3

Convert all categorical values into numeric

In [0]:
# YOUR CODE HERE

### Exercise 4

Remove unwanted coloumns

In [0]:
# YOUR CODE HERE

### Exercise 5

Divide the dataset into train and test sets

In [0]:
# YOUR CODE HERE

### Exercise 6

Apply decision tree alogrithm to predict the target variable

In [0]:
# YOUR CODE HERE

### Exercise 7

What happens if you choose criterion as "Entropy"?

In [0]:
# YOUR CODE HERE