# Advanced Certification in AIML
## A Program by IIIT-H and TalentSprint
### Not For Grading

## Learning Objective



At the end of this experiment, you will be able to :

* Use Pandas Library

## Dataset

### Description

The dataset choosen for this exercise is an employee dataset. The dataset contains the following information regarding a particular employee:

* Emp ID
* Name Prefix
* First Name
* Middle Initial
* Last Name
* Gender 
* E Mail
* Father's Name
* Mother's Name
* Mother's Maiden Name
* Date of Birth
* Time of Birth
* Age in Yrs
*  Weight in Kgs
* Date of Joining
* Quarter of Joining
* Half of Joining 
* Year of Joining
* Month of Joining
* Month Name of Joining
* Short Month
* Day of Joining
* DOW of Joining
* Short DOW
* Age in Company (Years)
* Salary
* Last % Hike
* SSN
* Phone No
* Place Name
* CountyCity,
* State
* Zip
* Region
* User Name
* Password

In [ ]:
!  wget https://cdn.talentsprint.com/aiml/Experiment_related_data/Employee.csv

## Exercise 1

### 1. Load the dataset with index as 'Emp Id'

In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv("Employee.csv")
# YOUR CODE HERE

### 2. Display the first 5 entries of the dataset

In [ ]:
# YOUR CODE HERE

### 3. How many  records are there in the dataset?

In [ ]:
# YOUR CODE HERE

### 4. How many columns are there in the dataset?

In [ ]:
# YOUR CODE HERE

### 5. Print the name of all the columns in the dataset

In [ ]:
# YOUR CODE HERE

### 6. What is  the name of the 20th column ?

In [ ]:
# YOUR CODE HERE

### 7. What is  the datatype of each column in the dataset?

In [ ]:
# YOUR CODE HERE

### 8. Display the columns from 5 to 9 and rows 1 to 3 of the dataset

In [ ]:
# YOUR CODE HERE

### 9. Display all the rows after 50th row of the dataset

In [ ]:
# YOUR CODE HERE

### 10. Display the columns from 10 to 12 for first 50 rows of the dataset

In [ ]:
# YOUR CODE HERE

### 11. Display the information of the employees who have  joined in Quarter 1 and 4.

In [ ]:
# YOUR CODE HERE

### 12. How many people are from the southern region joined on Monday?

In [ ]:
# YOUR CODE HERE

### 13. Display the information of the employees who have more than 13 years experience in the company

In [ ]:
# YOUR CODE HERE

### 14. There is a lot of redundant data. For example, the information in the below columns is also available in the *Date of Joining* column.

  1.   month of Joining
  2.   year of Joining
  3.   Day of Joining 

There could be other such columns containing redundant data. Please identify such columns and take appropriate action. 


You can refer to the below link :

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

In [ ]:
# YOUR CODE HERE

### 15. Remove "%" sign from the "Last % Hike" column values of the dataset

you can refer the below link :

https://stackoverflow.com/questions/52850192/python-extract-last-letter-of-a-string-from-a-pandas-column

In [ ]:
# YOUR CODE HERE

### 16. How many Female employees got hike more than 20% ?

In [ ]:
# YOUR CODE HERE

### Summary

To know more about Pandas, you can refer below link :

https://www.machinelearningplus.com/python/101-pandas-exercises-python/