## Practice Notebook

## **List**

### Exercise 01:  Print the squares of the numbers in the given list

In [ ]:
list1 = [6, 7, 8]

In [ ]:
## YOUR CODE HERE
for val in list1:
    print(val*val)

Expected output : 
<br/>36<br/>49<br/>64

### Exercise 02: For the given list print only the positive elements

In [ ]:
list2 = [-1, 2, -3, 4, -5, 6, -7]

In [ ]:
## YOUR CODE HERE
for value in list2:
    if value > 0:
       print(value)

Expected output:

2<br/>4<br/>6<br/>

### Exercise 03: For the given list print numbers which are multiples of 5

In [ ]:
list3 = [10, 12, 20, 22, 30, 32, 40]

In [ ]:
## YOUR CODE HERE
for value in list3:
    if value % 5 == 0:
        print(value)

Expected output :

10<br/>20<br/>30<br/>40

### Exercise 04: For the given list print if it is one digit or a two-digit number

In [ ]:
list4 = [5, 15, 20, 4573, 45, 211, 456]

* total no. of digits in each number

In [ ]:
len(str(digit)) => 1

In [ ]:
## YOUR CODE HERE
for digit in list4:
    if len(str(digit)) == 1:
        print(f"{digit} is a one digit number")
    elif len(str(digit)) == 2:
        print(f"{digit} is a two digit number")

Expected output : 

5 is a one digit number <br/>
15 is a two digit number<br/>
20 is a two digit number<br/>

### Exercise 05: For the given String find the following
1. split the string into a list of words and print them
2. print the length of the list

In [ ]:
string1 = "The quick brown fox jumps over the lazy dog"

In [ ]:
print(string1.split(" "))

In [ ]:
## YOUR CODE HERE
print(string1.split(" "))
print(len(string1.split(" ")))

 Expected output :
 <br/>['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
 <br/>9

### Exercise 06: For the given List find the following
1. list items from 2nd to 3rd
2. list items from beginning to 3rd
3. list items from 4th to the end of the list

In [ ]:
list5 = [1, 2, 3, 4, 5, 6, 7]

Expected Output :
<br/>[2, 3]
<br/>[1, 2, 3]
<br/>[4, 5, 6, 7]

In [ ]:
#YOUR CODE HERE
print(list5[1:3])
print(list5[:3])
print(list5[3:])

### Exercise 07: For the given list print numbers which are greater than or equal to 10

In [ ]:
list6 = [0, 1, 2, 3, 10, 11, 12, 13]

In [ ]:
# YOUR CODE HERE
for value in list6:
    if value >= 10:
        print(value, end=' ')

Expected Output :
<br/>10<br/>11<br/>12<br/>13

### Exercise 08: For the given list print words which contain vowels

In [ ]:
list7 = ['gym', 'cry', 'apple', 'sky', 'rhythm', 'banana']

In [ ]:
any(char in ['a', 'e', 'i', 'o', 'u'] for char in 'gym')

In [ ]:
# YOUR CODE HERE
for word in list7:
    if any(char in ['a', 'e', 'i', 'o', 'u'] for char in word):
        print(word)

Expected Output :
<br/>apple<br/>banana

### Exercise 09: For the given list of rectangle parameters, print the perimeters of the two rectangles

In [ ]:
l, w = [6, 7]
w

In [ ]:
list8 = [[6,7], [20,10]] ### [[length, width], [length, width]]

for length, width in list8:
    print(2 * (length + width))

Expected Output :
<br/>26<br/>
60

### Exercise 10: For the given list of numbers print the smallest number

In [ ]:
list9 = [34, 15, 2]

In [ ]:
# YOUR CODE HERE
print(min(list9))

Expected Output : 2