## Practice Notebook

Dictionary is a composite datatype in the Python programming language. In a way, it is similar to lists. Lists are a collection of elements. Dictionaries are a collection of key, value pairs. Solutions to many programming problems can be easy and more concise with dictionaries. Here we explain all the important methods in the dictionary and some problem-solving with examples.

Click [here](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict) to go through official documentation on `dictionaries`

Exercise 1:

* Create a dictionary
* The dictionary should contain states of india as `keys` and the corresponding state capitals as `values`.

In [ ]:
dict1 = {"Delhi" : "New Delhi",
         "Uttar Pradesh" : "Lucknow",
         "Madhya Pradesh" : "Bhopal",
         "Karnataka" : "Bengaluru",
         "Assam" : "Dispur",
         "Gujarat" : "Gandhinagar"}

Exercise 2:

From the dictionary created in Exercise 1
* Display the capital of Karnataka by retrieving the corresponding value for the key

In [ ]:
dict1['Karnataka']

'Bengaluru'

Exercise 3:

Add (and print) a new element in the dictionary

In [ ]:
dict1['Telangana'] = 'Hyderabad'
print (dict1)

{'Delhi': 'New Delhi', 'Uttar Pradesh': 'Lucknow', 'Madhya Pradesh': 'Bhopal', 'Karnataka': 'Bengaluru', 'Assam': 'Dispur', 'Gujarat': 'Gandhinagar', 'Telangana': 'Hyderabad'}

Exercise 4:

Return a list of all the keys, using `list()` or `.keys()`.

Return the values of the dictionary using `.values()`

In [ ]:
list(dict1)

['Delhi',
 'Uttar Pradesh',
 'Madhya Pradesh',
 'Karnataka',
 'Assam',
 'Gujarat',
 'Telangana']

In [ ]:
dict1.keys()

dict_keys(['Delhi', 'Uttar Pradesh', 'Madhya Pradesh', 'Karnataka', 'Assam', 'Gujarat', 'Telangana'])

In [ ]:
dict1.values()

dict_values(['New Delhi', 'Lucknow', 'Bhopal', 'Bengaluru', 'Hyderabad'])

Exercise 5:

- Return the length of the dictionary using `len()`.
- Return a sorted list of the dictionary keys

In [ ]:
len(dict1)

6

In [ ]:
sorted (dict1)

['Delhi', 'Karnataka', 'Madhya Pradesh', 'Telangana', 'Uttar Pradesh']

Exercise 6:

* Remove a key value pair from the dictionary.
* Add the same key value pair again in the `dictionary`
* Display all the key-value pairs using `items()`

In [ ]:
dict1.popitem()

('Telangana', 'Hyderabad')

In [ ]:
dict1["Telangana"] = "Hyderabad"

In [ ]:
dict1.items()

dict_items([('Delhi', 'New Delhi'), ('Uttar Pradesh', 'Lucknow'), ('Madhya Pradesh', 'Bhopal'), ('Karnataka', 'Bengaluru'), ('Assam', 'Dispur'), ('Telangana', 'Hyderabad')])

In [ ]:
del dict1["Assam"]

In [ ]:
dict1.items()

dict_items([('Delhi', 'New Delhi'), ('Uttar Pradesh', 'Lucknow'), ('Madhya Pradesh', 'Bhopal'), ('Karnataka', 'Bengaluru'), ('Telangana', 'Hyderabad')])

Exercise 7:

Iterate over the keys of the dictionary using `for` and `.keys()` and print all the state capitals.

In [ ]:
for key in dict1.keys():
    print(dict1[key])

New Delhi
Lucknow
Bhopal
Bengaluru
Hyderabad

Exercise 8:

* Initialize an empty dictionary ‘sen_map’
* Make the sentences all lower case
* Iterate over each word in the sentences
* Check if a word exists in the sen_map
* If not then add the word with a value of 1
* Otherwise, update the value of that word by 1

In [ ]:
sents = "I love my country. I strive to make my country proud of me."

In [ ]:
sen_map = {}  
sents = sents.lower() 
for i in sents.split(): 
    if i not in sen_map:   
        sen_map[i] = 1  
    sen_map[i] += 1  
sen_map

{'country': 2,
 'country.': 2,
 'i': 3,
 'love': 2,
 'make': 2,
 'me.': 2,
 'my': 3,
 'of': 2,
 'proud': 2,
 'strive': 2,
 'to': 2}

## Sets

A set is a collection of objects with the following characteristic features:
* Sets are unordered
* Sets contain distinct elements
* The elements in a set must be immutable

Since sets are unordered, we cannot perform operations like indexing and slicing on sets. We cannot have mutable objects such as lists as an element in a set. A common use case of sets is to remove duplicate elements from a collection or sequence.

Click [here](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset) to go through official documentation on `sets`.

Exercise 9:

Create a set containing all the capitals of the states used in Exercise 1.

In [ ]:
set1 = {'New Delhi', 'Lucknow', 'Bhopal', 'Bengaluru', 'Dispur', 'Gandhinagar'}

Exercise 10:

* Check if 'Kerala' is present in set1.
* If 'kerala' is not present, add it to the set.

In [ ]:
print('kerala' in set1)

False

In [ ]:
set1.add('kerala')

In [ ]:
set1

{'Bengaluru',
 'Bhopal',
 'Dispur',
 'Gandhinagar',
 'Lucknow',
 'New Delhi',
 'kerala'}

Exercise 11:

Given two sets A and B (below), find 

* elements that are in one set but not in the other. 
* elements that are in both sets.

In [ ]:
A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6, 7, 8}

In [ ]:
A.difference(B)

{1, 2}

In [ ]:
B.difference(A)

{6, 7, 8}

In [ ]:
A.intersection(B)

{3, 4, 5}