# IoT & Smart Analytics
## A Program by IIIT-H and TalentSprint

#### This is a Graded workbook.

#### Please enter your registration id 
Id = "-------"

#### Please enter your Name 

Name = "-------"

#### Importing Required Packages

In [ ]:
import pandas as pd
import numpy as np

#### Given below is a dictionary, which is used for creating a DataFrame named 'df1'. We have to find some information from this table.

In [ ]:
# Dictiionary of equal length list can be used to construct a DataFrame
data={'Name':['Ramen','Ankur','Vinayak','Rahul','Divya','Sarthak','Adam'],
      'Subject Stream':['English','Math','Biology','Physics','Computing','English','Math'],
      'Score':[435,234,986,562,12,600,900]}

In [ ]:
df1=pd.DataFrame(data) #Passing the above dictionary to make DataFrame,index is automatically added 
df1        # Keys of dictionary become the columns header and each value (list) become rows

      Name Subject Stream  Score
0    Ramen        English    435
1    Ankur           Math    234
2  Vinayak        Biology    986
3    Rahul        Physics    562
4    Divya      Computing     12
5  Sarthak        English    600
6     Adam           Math    900

#### 1. Get the overall information about table df1, such as number of rows, number of columns, data types.

In [ ]:
## Your code here

#### 2. Get all the column names as a list.

In [ ]:
## Your code here

#### 3. Get information of all the students having 'Math' as a subject stream.

In [ ]:
## Your code here

#### 4. Drop the first and last rows of table df1.

In [ ]:
## Your code here

#### 5. Get the information of the student having the highest score.

In [ ]:
## Your code here

#### A DataFrame df2 is created below. Say these values are the quantity of fruit consumed in kg on a given day in a Hostel. Perform the following operations.

In [ ]:
df2=pd.DataFrame((np.random.randint(1,20,12).reshape(4,3)),
                 columns=['Mon','Tue','Wed'],
                 index=['Mango','Jackfruit','W.Melon','Pineapple'])
df2

           Mon  Tue  Wed
Mango       11    5    2
Jackfruit    5    6   12
W.Melon     15    8   17
Pineapple    7   12   10

#### 6. Find the total amount of individual fruits consumed on all three days.

In [ ]:
## Your code here

#### 7. Get all the values of the dataframe as a Numpy array and store it in a variable say, 'arr', and display it.

In [ ]:
## Your code here

#### 8. Get the first column of arr and store it in A1 and display. and check its shape.

In [ ]:
## Your code here

#### 9. Convert A1 into a 2D array having one row and multiple columns, store it into B1, and check its shape.

In [ ]:
## Your code here

#### 10. Convert A1 into a 2D array having multiple rows and one column, store it into B2, and check its shape.

In [ ]:
## Your code here