In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [ ]:
df = pd.DataFrame({'x':[0,1,2,3,4],'y':[1,3,5,7,9]})

In [ ]:
df.head()

   x  y
0  0  1
1  1  3
2  2  5
3  3  7
4  4  9

In [ ]:
x = df[['x']]
y = df['y']

In [ ]:
lr = LinearRegression()
lr.fit(x,y)

LinearRegression()

In [ ]:
lr.coef_,lr.intercept_

(array([2.]), 1.0)

In [ ]:
lr.predict([[5]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([11.])