# IoT & Smart Analytics
## A Program by IIIT-H and TalentSprint

#### This is a Graded workbook.

#### Please enter your registration id 
Id = "-------"

#### Please enter your Name 

Name = "-------"

#### Importing Required Packages

In [3]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

### PCA

#### Uploading & understanding the data
It is an occupancy monitoring dataset, which contains readings from multiple sensors deployed inside a room at different locations and collects data related to different parameters viz. temperature, light, sound, CO2, etc.The occupancy inside the room is also recorded and included in the dataset. This dataset has been used to develop a model for predicting occupancy (Target) using remaining all features recorded by sensors.

In [4]:
df_occupancy = pd.read_csv('/content/Occupancy.csv')
df_occupancy.head()

,Date,Time,S1_Temp,S2_Temp,S3_Temp,S4_Temp,S1_Light,S2_Light,S3_Light,S4_Light,S1_Sound,S2_Sound,S3_Sound,S4_Sound,S5_CO2,S5_CO2_Slope,S6_PIR,S7_PIR,Room_Occupancy_Count
0,2017/12/22,10:49:41,24.94,24.75,24.56,25.38,121,34,53,40,0.08,0.19,0.06,0.06,390,0.769231,0,0,1
1,2017/12/22,10:50:12,24.94,24.75,24.56,25.44,121,33,53,40,0.93,0.05,0.06,0.06,390,0.646154,0,0,1
2,2017/12/22,10:50:42,25.00,24.75,24.50,25.44,121,34,53,40,0.43,0.11,0.08,0.06,390,0.519231,0,0,1
3,2017/12/22,10:51:13,25.00,24.75,24.56,25.44,121,34,53,40,0.41,0.10,0.10,0.09,390,0.388462,0,0,1
4,2017/12/22,10:51:44,25.00,24.75,24.56,25.44,121,34,54,40,0.18,0.06,0.06,0.06,390,0.253846,0,0,1

In [5]:
df_occupancy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10129 entries, 0 to 10128
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  10129 non-null  object
 1   Time                  10129 non-null  object
 2   S1_Temp               10129 non-null  float64
 3   S2_Temp               10129 non-null  float64
 4   S3_Temp               10129 non-null  float64
 5   S4_Temp               10129 non-null  float64
 6   S1_Light              10129 non-null  int64
 7   S2_Light              10129 non-null  int64
 8   S3_Light              10129 non-null  int64
 9   S4_Light              10129 non-null  int64
 10  S1_Sound              10129 non-null  float64
 11  S2_Sound              10129 non-null  float64
 12  S3_Sound              10129 non-null  float64
 13  S4_Sound              10129 non-null  float64
 14  S5_CO2                10129 non-null  int64
 15  S5_CO2_Slope          10129 non-null  float64
 16  S6_PIR                10129 non-null  int64
 17  S7_PIR                10129 non-null  int64
 18  Room_Occupancy_Count  10129 non-null  int64
dtypes: float64(9), int64(8), object(2)
memory usage: 1.5+ MB

#### Seperating the Data into Features(x) and Target column(y)
* Total Components/Features in dataset = 15

In [ ]:
x = df_occupancy.iloc[:, 2:17]
y = df_occupancy.iloc[:, 18]
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10129 entries, 0 to 10128
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   S1_Temp       10129 non-null  float64
 1   S2_Temp       10129 non-null  float64
 2   S3_Temp       10129 non-null  float64
 3   S4_Temp       10129 non-null  float64
 4   S1_Light      10129 non-null  int64
 5   S2_Light      10129 non-null  int64
 6   S3_Light      10129 non-null  int64
 7   S4_Light      10129 non-null  int64
 8   S1_Sound      10129 non-null  float64
 9   S2_Sound      10129 non-null  float64
 10  S3_Sound      10129 non-null  float64
 11  S4_Sound      10129 non-null  float64
 12  S5_CO2        10129 non-null  int64
 13  S5_CO2_Slope  10129 non-null  float64
 14  S6_PIR        10129 non-null  int64
dtypes: float64(9), int64(6)
memory usage: 1.2 MB

In [ ]:
y

0        1
1        1
2        1
3        1
4        1
        ..
10124    0
10125    0
10126    0
10127    0
10128    0
Name: Room_Occupancy_Count, Length: 10129, dtype: int64

#### Scaling the Data to prevent mis-interpretations 
* Each data column is scaled to prevent any specific column over influencing the PCA calculation

In [ ]:
x_scaled = StandardScaler().fit_transform(x)

In [ ]:
x_scaled

array([[-1.46303347, -1.35777517, -1.16233429, ..., -0.35438162,
         0.66446859, -0.31474885],
       [-1.46303347, -1.35777517, -1.16233429, ..., -0.35438162,
         0.558817  , -0.31474885],
       [-1.29225542, -1.35777517, -1.30276354, ..., -0.35438162,
         0.4498638 , -0.31474885],
       ...,
       [-0.92223631, -0.82903247, -0.85807092, ..., -0.57943218,
         0.00414617, -0.31474885],
       [-0.92223631, -0.82903247, -0.85807092, ..., -0.57943218,
         0.00414617, -0.31474885],
       [-0.92223631, -0.82903247, -0.85807092, ..., -0.57943218,
         0.00414617, -0.31474885]])

#### Apply PCA and  find the following information :

#### 1. Find the maximum number of features which are sufficient to represent more than 90% of variance in the dataset.

In [ ]:
## Your code here

#### 2. Plot the feature vs explained variance ratio.

In [ ]:
## Your code here

#### 3. Get the transformed features

In [ ]:
## Your code here

### Data Munging
#### 4. Upload 'BTU.csv' file & Display information

In [ ]:
## Your code here

#### 5. Rename columns name

In [ ]:
## Your code here

#### 6. Drop the first row

In [ ]:
## Your code here

#### 7. Convert all non-numeric values into NaN

In [ ]:
## Your code here

#### 8. Display and Drop all the NaN entries

In [ ]:
## Your code here

In [ ]:
## Your code here

#### 9. Get mean values of a all the coumns

In [2]:
## Your code here