In [ ]:
!wget https://cdn.talentsprint.com/aiml/Experiment_related_data/diabetes.csv

--2022-03-06 06:46:56--  https://cdn.talentsprint.com/aiml/Experiment_related_data/diabetes.csv
Resolving cdn.talentsprint.com (cdn.talentsprint.com)... 172.105.34.236
Connecting to cdn.talentsprint.com (cdn.talentsprint.com)|172.105.34.236|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23873 (23K) [application/octet-stream]
Saving to: ‘diabetes.csv’

diabetes.csv        100%[===================>]  23.31K  --.-KB/s    in 0s

2022-03-06 06:46:58 (246 MB/s) - ‘diabetes.csv’ saved [23873/23873]

In [ ]:
import pandas as pd
df = pd.read_csv('diabetes.csv')

In [ ]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
X = df.iloc[:,0:8]
y = df.iloc[:,8:]

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X)
X = scaler.transform(X)

In [ ]:
X[1:5]

array([[-0.84488505, -1.12339636, -0.16054575,  0.53090156, -0.69289057,
        -0.68442195, -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, -1.28821221, -0.69289057,
        -1.10325546,  0.60439732, -0.10558415],
       [-0.84488505, -0.99820778, -0.16054575,  0.15453319,  0.12330164,
        -0.49404308, -0.92076261, -1.04154944],
       [-1.14185152,  0.5040552 , -1.50468724,  0.90726993,  0.76583594,
         1.4097456 ,  5.4849091 , -0.0204964 ]])

In [ ]:
y.head()

   Outcome
0        1
1        0
2        1
3        0
4        1

In [ ]:
from sklearn.linear_model import SGDClassifier

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state = 42)

In [ ]:
sgd  = SGDClassifier()
sgd.fit(X_train,y_train)
ypred = sgd.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(ypred,y_test))

0.6623376623376623

In [ ]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(ypred,y_test))

[[123  50]
 [ 28  30]]

In [ ]:
(138+16)/(138+16+63+14)

0.6666666666666666